black
testtools
flake8
pytest
python-subunit
fixtures
mock
sphinx
sphinx_rtd_theme
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.20.0 # not directly required, pinned by Snyk to avoid a vulnerability
