black
testtools
flake8
pytest
python-subunit
fixtures
mock
sphinx
sphinx_rtd_theme
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
